wp-admin
wp-mail.php
license.txt
wp-config-sample.php
wp-links-opml.php
readme.html
wp-signup.php
index.php
wp-config.php
wp-login.php
wp-settings.php
wp-load.php
wp-content/themes/twentysixteen
wp-content/themes/index.php
wp-content/themes/twentyfifteen
wp-content/upgrade
wp-content/plugins
wp-content/index.php
wp-trackback.php
wp-activate.php
wp-includes
wp-blog-header.php
wp-cron.php
.htaccess
xmlrpc.php
wp-comments-post.php
.git